<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="content-type">
  <link rel="stylesheet" href="../include/css/style.css">
  <script src="../include/js/app.js"></script>
  <script>document.addEventListener("DOMContentLoaded", function(){init()})</script>
  <title>Document</title>
</head>
<body>
  <main class="product_container">
    <section class="product">
      <h1>Product Name</h1>
      <p>Product Description</p>
      <p>Product Price</p>
      <button class="add_to_cart_btn">Add To Shopping Cart</button>
    </section>
    <section class="product">
      <h1>Product Name</h1>
      <p>Product Description</p>
      <p>Product Price</p>
      <button class="add_to_cart_btn">Add To Shopping Cart</button>
    </section>
    <section class="product">
      <h1>Product Name</h1>
      <p>Product Description</p>
      <p>Product Price</p>
      <button class="add_to_cart_btn">Add To Shopping Cart</button>
    </section>
  </main>
  <section class="shopping_cart">
    <!--
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    <div class="cart_item">
      <p class="cart_col">Item</p><p class="cart_col">Name</p><p class="cart_col">Quantity</p>
    </div>
    -->
  </section>
</body>
</html>
